* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

///////////////////// HEADER ///////////////////////
header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 1rem;

  .botaoAdote {
    background-color: #f97415;
    color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
  }
}
////////////////////////////////////////////////////////////////

.banner {
  article {
    border: solid;
    display: flex;
    justify-content: space-evenly;
    height: 50vh;

    .infoPet {
      width: 35%;
      display: flex;
      flex-direction: column;
justify-content: space-evenly;

      #nomeDoPet {
        color: #f97415;
        font-size: 3.75rem;

        #descricao {
            
        }

        #fotoGrande {
          width: 70%;
          border-radius: 10px;
        }
      }
    }
  }
}
