* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

///////////////////// HEADER ///////////////////////
header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 1rem;

  .botaoAdote {
    background-color: #f97415;
    color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
  }
}

////////////////////////////////////////////////////////////////

  article {
   display: flex;
    justify-content: space-evenly;
    height: 50vh;

    .infoPet {
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      #nomeDoPet {
        color: #f97415;
        font-size: 3.75rem;
        font-family: "Inter", sans-serif;
      }

      #descricao {
        font-size: 1.5rem;
        font-family: "Inter", sans-serif;
      }
    }
    #fotoGrande {
      width: 40%;
      padding: 2rem;
      border-radius: 20px;
    }
  }

  .galeria{
 display: flex;
justify-content: space-evenly;
  }

 .pet {
width: 20%;
height: 25vh;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

.descricaopet, .nome {
display: none;
}

 }

.imgPet {
width: 50%;
height: 20vh;
border-radius: 100%;

}



/////////////////////////////////////////////////////////////////////////

form {
  background-color: #f59f0a;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  h2 {
    color: #ffff;
    font-weight: 700;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    padding: 1rem;
  }

  p {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    padding-bottom: 3rem;
  }

  label {
    color: #ffffff;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
    padding: 0.5rem;
  }

  input {
    width: 20vw;
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
  }

  button {
    cursor: pointer;
    background-color: #f97415;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    font-family: "Inter", sans-serif;
    border-radius: 10px;
    margin: 2rem;
    padding: 1rem;
  }
}
///////////////////////////////////////////////////////////////////////////
.rodape {
  background-color: #1f2937;
  display: flex;
  justify-content: space-evenly;

  p {
    color: #9ca3af;
    text-align: center;
  }
}

///////////////////////////////////////////////////////////////////////////////

footer {
  background-color: #1f2937;
  color: #9ca3af;
  padding: 1rem;
  text-align: center;
  border-top: solid #9ca3af;
}

/////////////////////////////////////////////////////////
