* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

///////////////////// HEADER ///////////////////////
header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 1rem;

  .botaoAdote {
    background-color: #f97415;
    color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    width: 6vw;
    cursor: pointer;
    &:hover {
      background-color: #f7ad78;
    }
  }
}

////////////////////////////////////////////////////////////////

article {
  display: flex;
  justify-content: space-evenly;
  height: 50vh;

  .infoPet {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    #nomeDoPet {
      color: #f97415;
      font-size: 3.75rem;
      font-family: "Inter", sans-serif;
    }

    #descricao {
      font-size: 1.5rem;
      font-family: "Inter", sans-serif;
    }
  }
  #fotoGrande {
    width: 40%;
    padding: 2rem;
    border-radius: 50px;
  }
}

.galeria {
  display: flex;
  justify-content: space-evenly;

  .pet {
    width: 20%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .descricaopet,
    .nome {
      display: none;
    }
  }

  .imgPet {
    width: 50%;
    height: 20vh;
    border-radius: 100px;
  }
}

/////////////////////////////////////////////////////////////////////////

form {
  background-color: #f59f0a;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  h2 {
    color: #ffff;
    font-weight: 700;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    padding: 1rem;
  }

  p {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    padding-bottom: 3rem;
    font-weight: 500;
  }

  label {
    display: flex;
    text-align: left;
    color: #ffffff;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    padding: 0.5rem;
  }

  legend {
    color: #ffffff;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    padding: 0.5rem;
  }

  input {
    width: 20vw;
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
  }

  .cachorrogato {
    
    border: #1f2937 solid;
  }

  .buttonformulario {
    cursor: pointer;
    background-color: #f97415;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 700;
    width: 15vw;
    border: none;
    font-family: "Inter", sans-serif;
    border-radius: 10px;
    padding: 1rem;
    margin: 2.5rem;
    &:hover {
      background-color: #f7ad78;
    }
  }
}
///////////////////////////////////////////////////////////////////////////

.rodape {
  background-color: #1f2937;
  display: flex;
  justify-content: space-evenly;
  height: 12vh;

  .logo {
    padding: 1rem;
  }

  p {
    color: #9ca3af;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
  }

  .redes {
    display: flex;
    margin: 2rem;
    border: #f59f0a solid;
    height: 5vh;

  }
}

///////////////////////////////////////////////////////////////////

footer {
  background-color: #1f2937;
  color: #9ca3af;
  padding: 0.5rem;
  text-align: center;
  border-top: solid 0.1rem #9ca3af;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

//////////////////////////////////////////////////////////
/////////////////        RESPONSIVO      /////////////////

@media (max-width: 500px) {
  header {
    height: 15vh;

    .botaoAdote {
      width: 25vw;
      height: 8vh;
    }
  }

  ////////////////////

  article {
    display: flex;
    justify-items: center;
    flex-direction: column-reverse;
    background-color: darksalmon;
    height: 80vh;

    .infoPet {
      width: 100vw;
      margin: 1rem;
    }

    .fotoGrande {
      height: 80vh;
    }
  }

  .galeria {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 50vh;
    background-color: cadetblue;
  }

  /////////////////////////

  form {
    height: 80%;

    h2 {
      text-align: center;
    }

    P {
      display: none;
    }

    input {
      width: 80vw;
    }

    .buttonformulario {
      width: 50vw;
      height: 10vh;
    }
  }
  ////////////////////////////////////////////////

  .rodape {
    p {
      display: none;
    }
  }

  //////////////////////////////////////////////

  footer {
    font-size: 0.8rem;
  }
}
